[mysqld]
innodb_file_format=barracuda
innodb_file_format_check=true
innodb_file_per_table=true
innodb_file_format_max=barracuda
sql_mode=ONLY_FULL_GROUP_BY,NO_AUTO_VALUE_ON_ZERO,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

